#content {
	border: 1px solid #AAA;
	margin: 10px auto;
	width: 800px;
}

.global_module h3 { 
	height: 26px;
	background: #3B5998;
	color: #FFF;
	line-height: 26px;
	text-indent: 6px;
}

.pro_detail {
	width: 780px;
	height: auto;
	overflow: hidden;
	padding: 10px;
}

/* 左列 */
.pro_detail_left {
	width: 380px;
	float: left;
	overflow: hidden;
}

.pro_detail_left .jqzoom {
	border: 1px solid #BBB;
	float: left;
	position: relative;
	padding: 0px;
	cursor: pointer;
}

.pro_detail_left .fs {
	width:300px;
	height:300px; 
}

.pro_detail_left span {
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width:310px;
	clear:both;
}

/* 右列 */
.pro_detail_right {
	width: 380px;
	float: left;
	margin: 10px;
}

