/* 导航样式 */
#navigation {
	width: 784px;
	height: 18px;
	margin: 8px auto;
	background: #3B5998;
	padding: 8px;
}

#navigation ul li {
	float: left;
	margin-right: 14px;
	position: relative;
	z-index: 100;
}

#navigation ul li a {
	display: block;
	padding: 0 8px;
	background: #EEEEEE;
	font-weight: 700;
}

#navigation ul li a:hover {
	background: none;
	color: #FFF;
}

#navigation ul li ul {
	background-color: #88C366;
	position: absolute;
	width: 80px;
	overflow: hidden;
	/* 使li元素下面的ul元素隐藏 */
	display: none;
}

#navigation ul li:hover ul {
	background-color: #88C366;
	position: absolute;
	width: 100px;
	display: block;
}

#navigation ul li ul li {
	border-bottom: 1px solid #BBB;
	text-align: left;
	width: 100%;
}
